body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.video-conferencing {
    margin-top: 10px;
}

#video-conferencing {
    margin-right: 10px;
}


input[type="submit"] {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}


.calendar-date.selected {
    background-color: #007bff;
    color: white;
}

/************************************************************************/
/* Selected Dates Section Styles */
.selected-dates-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.selected-dates-container h5 {
  margin-bottom: 15px;
}

.date-entry {
  margin-bottom: 10px;
}

.date-entry strong {
  display: block;
  margin-bottom: 5px;
}

.time-entries {
  margin-bottom: 10px;
}

.time-dropdown {
  margin-bottom: 10px;
  width: auto; /* Adjust width as needed */
}

.add-time-btn {
  display: block;
  margin-top: 10px;
}


.btn-outline-primary {
  color: #007bff;
  background-color: white;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

/* Ensure that the text color is white when a button is active */
.btn-primary:not(:hover) {
  color: white;
}
