

.custom-scroller {
	margin-block: 4rem;
}

.scroller__inner {
	width: 100%;
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	display: grid;
	padding: 2rem 1rem;
	gap: 1rem;
	grid-auto-flow: column;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, 1fr);
}

.scroller__inner::-webkit-scrollbar {
	display: none;
}



