@import "bootstrap/scss/bootstrap";

:root {
	--bs-primary: indigo-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

footer {
	text-align: center;
	height: 3rem;
	margin-top: 124px;
}
