.container-custom {
	display: grid;
	grid-template-columns:
		[custom-full-width-start] minmax(0px, 1fr) [content-start] min(100%, 70ch)
		[content end] minmax(0px, 1fr) [custom-full-width-end];
	margin-block: 128px;
}

.container-custom > * {
	grid-column: content;
}

.container-custom > .custom-full-width {
	grid-column: custom-full-width;
}
section {
	margin-top: 128px;
}
